h2 {color: #003F87;font-family: "Andale Mono", AndaleMono, monospace;}

.btn {background-color: #E8C547;}

a {color:#5C80BC;font-family: "Andale Mono", AndaleMono, monospace;}

.jumbotron {background-color:#003F87;}

h1 {color:#E8C547;font-family: "Andale Mono", AndaleMono, monospace; text-align:center;}

body {background-color:#F7F9F9;} 
