h2 {color: #4D5061;font-family: "Andale Mono", AndaleMono, monospace;}

.btn {background-color: #E8C547;}

a {color:#5C80BC;font-family: "Andale Mono", AndaleMono, monospace;}

.jumbotron {background-color:#30323D;}

h1 {color:#E8C547;font-family: "Andale Mono", AndaleMono, monospace; text-align:center;}

body {background-color:#CDD7D6;}
